<p id="notice"><%= notice %></p>
<%= flash[:notice] %> 

<h1>Customers failed in import</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Cpf</th>
      <th>Birthdate</th>
      <th>Errors</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% customers.each do |customer| %>
      <tr>
        <td><%= customer.name %></td>
        <td><%= customer.cpf %></td>
        <td><%= customer.birthdate %></td>
        <td><%= customer.errors.messages %></td>
        <td><%= link_to 'homepage', root_path %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div> 
