<p id="notice"><%= notice %></p>
<%= flash[:notice] %> 

<h1>Customers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Cpf</th>
      <th>Birthdate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.name %></td>
        <td><%= customer.cpf %></td>
        <td><%= customer.birthdate %></td>
        <td><%= link_to 'Show', customer %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
        <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customer', new_customer_path %>
<div>                                                                              
  <h4> Import Customer </h4>
  <%= form_tag(import_customers_path, multpart: true) do %>                        
    <%= file_field_tag :file %>                                                    
    <%= submit_tag 'Import CSV'%>                                                                                                                                        
  <% end %>                                                                        
</div> 
